body {
    background-color: #f7f7f5 ;
    margin: 0;
}
.infous {
    display:flex;
    justify-content: space-between;
}

.us{
    margin: 0 10%;
}
.us a {
    font-size: 40px;
    color: darkred;
    font-family: Graphik,sans-serif;
    text-decoration: none;
    font-weight: 600;

}
.left-div{
    margin-top:10px;
    font-size:25px;
    font-family: Graphik,sans-serif;
    color:black;
}
.right-div{
    justify-content: space-between;
    margin-top:40px;
    font-size:19px;
    color: black;
    width: 50%;
    word-spacing: 7px;
}
.container-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:80px 0 100px;

}

.person {
    background-color:lightgrey;
    width:300px;
    height:400px;
}


footer{
    background-color: #242424;
    color:#f7f7f5;
    padding:15px 40px;
    font-family: Arial,sans-serif;
}
.up-footer{
    display: flex;
    justify-content: space-between;
    font-size:12px;
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
}
