body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f5 ;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    z-index: 100;
}

header h1 {
    font-family: Graphik,sans-serif;
    font-size: 30px;

}
.navbar {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    text-decoration: none;
    font-family: Graphik,sans-serif;
    color: black;
    font-size: 18px;
    line-height: 26px;
}

.container-courses{
    margin: 5% 10%;
    display: flex;
    justify-content: space-between;
}

.categories-video{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories-video video{
    width: 30vw;
    border-radius: 15%;
}

.container-courses h1 {
    font-family: Graphik,sans-serif;
    font-size: 60px;
}

.container-courses button {
    font-family: Graphik,sans-serif;
    font-size: 20px;
    background-color: #f7f7f5;
    border-radius: 20px;
    border: 1px solid;
}

.container-courses button:hover {
    background-color: #e2dfff;
}

.container-information{
    background-color: #e2dfff;
    text-align: center;
    margin: 0 10%;
    padding: 2%;
    border-radius: 2%;
}

.container-information h2 {
    font-family: Graphik,sans-serif;
    font-size: 40px;
}
.informations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info {
    text-align: left;
    background-color: #f7f7f5;
    width: 14em;
    border-radius: 15%;
}

.info-p {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    font-family: Nunito, sans-serif;
    padding-left: 5px;

}

.second-p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
    font-family: Graphik,sans-serif;
    padding-left: 5px;

}

.icon img {
    width: 100%;
    height: 15vh;
    align-items: center;
    object-fit: cover;
}

.container-cards {
    margin: 5% 10%;
    background-color: #3f2aff;
    display: block;
}

.card1 {
    background-color: #3f2aff;
}

.card2 {
    background-color: #ffcdc2;
}

.card3 {
    background-color: #74f7b9;
}

.card4 {
    background-color: #242424;
}

