body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f5 ;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    z-index: 100;
}

header h1 {
    font-family: Graphik,sans-serif;
    font-size: 30px;
}

.navbar {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    text-decoration: none;
    font-family: Graphik,sans-serif;
    color: black;
    font-size: 18px;
    line-height: 26px;
}

.container-courses{
    margin: 5% 10%;
    display: flex;
    justify-content: space-between;
}

.categories-video{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories-video video{
    width: 30vw;
    border-radius: 15%;
}

.categories-video img{
    width: 30vw;
    border-radius: 15%;
}

.container-courses h1 {
    font-family: Graphik,sans-serif;
    font-size: 60px;
}

.categories button {
    font-family: Graphik,sans-serif;
    font-size: 20px;
    background-color: #f7f7f5;
    border-radius: 20px;
    border: 1px solid;
    margin-right: 5px;
    transition: .3s;
    cursor: pointer;
}

.categories button a {
    text-decoration: none;
    color: black;
}

.container-courses button:hover {
    background-color: #5B79FFFF;
}

.container-information{
    background-color: #5b79ff;
    text-align: center;
    margin: 0 10%;
    padding: 2%;
    border-radius: 2%;
}

.container-information h2 {
    font-family: Graphik,sans-serif;
    font-size: 40px;
}

.informations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info {
    text-align: left;
    background-color: #f7f7f5;
    width: 12em;
    border-radius: 5%;
    padding: 15px 10px;
}

.info-p {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    font-family: Nunito, sans-serif;
}

.second-p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    font-family: Graphik,sans-serif;
}

.icon {
    font-size: 60px;
}

.container-carousel{
    margin: 10%;
    background-color: #242424;
    width: 80%;
    height: 110vh;
    border-radius: 15px;
    overflow: hidden;
    font-family: Graphik,sans-serif;

}

.container-carousel h1,h2{
    color: white;
    text-align: center;
    font-weight: 500;
}

.slide {
    bottom: 15%;
    width: 60%;
    height: 200px;
    position: absolute;
    transition: all 0.5s;
}

.slide a {
    text-decoration: none;
}
.catalog-popular__decor{
    padding-top: 3%;
    padding-left: 44%;
}


.course-card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 424px;
    height: 190px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: #47c293;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
}

.course-card:hover{
    transform: scale(1.03);
}

.course-card h2 {
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.course-card p {
    font-size: 14px;
    color: black;
}

.course-card img {
    width: 33%;
    height: 70%;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn-prev {
    top: 150%;
    left: 13%;
}

.btn-next {
    top: 150%;
    right: 13%;
}
.slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    /*overflow: hidden;  !* <===  *!*/
    border-radius: 15px;
}
.viewAll{
    margin-left: 37%;
    background: none;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-radius: 10px;
    border-color: white;
    transition: 0.4s;
    font-size: 20px;
}
.viewAll:hover{
    background-color: black;
}

.container-cards {
   display: flex;
    flex-wrap: wrap;
    font-family: Graphik,sans-serif;
    justify-content: center;
    margin: 5% 10%;

}

.card1{
    width: 560px;
    height: 500px;
    background-color: #60b3ff;
    border-radius: 15px;
    margin: 15px;
    text-align: center;
    align-items: center;
    color:#f7f7f5;

}
.card2{
    width: 560px;
    height: 500px;
    background-color:#ffcdc2 ;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    color:#242424;
    margin: 15px;
}
.card3{
    width: 560px;
    height: 500px;
    background-color:#74f7b9 ;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    color:#242424;
    margin: 15px;
}
.card4{
     width: 560px;
     height: 500px;
    background-color: #242424;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    color:#f7f7f5;
    margin: 15px;

 }

.container-cards img {
    width: 40%;
    margin: 15px;
}

.left-diagonal-button {
    width: 40%;
    height: 50px;
    font-family: Graphik,sans-serif;
    font-size: 20px;
    background-color: rgba(28,28,28,0);
    border-radius: 20px;
    border: 1px solid;
    color: #f7f7f5;
    margin-top: 25px;
    transition: .3s;
    cursor: pointer;
}

.right-diagonal-button {
    width: 40%;
    height: 50px;
    font-family: Graphik,sans-serif;
    font-size: 20px;
    background-color: rgba(28,28,28,0);
    border-radius: 20px;
    border: 1px solid;
    color: #242424;
    margin-top: 25px;
    transition: .3s;
    cursor: pointer;
}

.container-cards button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

footer{
    background-color: #242424;
    color:#f7f7f5;
    padding:15px 40px;
    font-family: Arial,sans-serif;

}
.up-footer{
    display: flex;
    justify-content: space-between;
    font-size:12px;

}
.bottom-footer{
    display: flex;
    justify-content: space-between;
}

.about-course {
    margin: 3% 6% 0;
    display: flex;
    justify-content: space-between;
    font-family: Graphik,sans-serif;
    background-color: #60b3ff;
    border-radius: 15px;
    padding: 3% 5%;
}

.left-column{
    width: 50%;
}

.left-column p {
    font-size: 18px;
    padding: 0 0 40px;
}

.left-column h1 {
    font-size: 60px;
}

.left-column button {
    width: 40%;
    height: 55px;
    font-family: Graphik,sans-serif;
    font-size: 18px;
    background-color: #3d3bff;
    border-radius: 10px;
    border: 1px solid #3d3bff;
    color: #FFFFFF;
    margin-top: 25px;
    transition: .3s;
    cursor: pointer;
}

.left-column button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.about-course img {
    width: 470px;
    height: 470px;
}

.container-whom {
    text-align: center;
    margin: 0 10% 5%;
    padding: 2%;
    border-radius: 2%;
}

.whom-p {
    font-family: Graphik,sans-serif;
    font-size: 40px;
}

.main-whom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.whom{
    width: 252px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 15px;
}

.main-icon{
    margin: 20px;
    text-decoration: none;
    font-family: Graphik,sans-serif;
    font-size: 30px;
    color: black;
    font-weight: 600;
}

.course-store {
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.track{
    height: 50px;
    background-color: #242424;
    border-radius: 10px;
    border-color: gray;
    width: 50%;
    display: flex;
    margin: 10px auto;
    cursor: pointer;
    transition: .3s;
}
.track:hover{
    transform: scale(1.1);
}
.track img{
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
}
.track h3{
    width: 200px;
    color: white;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}
.playlist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
}

.audio-track{
    margin-left: 100px;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
    height: 3px;
    background-color: #dddddd;
}
.time{
    width: 0;
    height: 3px;
    background-color: #474747;
}
